*
{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: rgb(181, 150, 110);
}
.logo{
    display: flex;
    gap: 10px;
}
.logo{
    font-size: 20px;
}

.header 
{
background-color: rgb(193, 179, 159);
padding: 12px; 
display: flex;
justify-content: space-between;
}
.header ul{
display: flex;
gap: 24px;
list-style: none;
}

.header ul li
{
    font-size: 12px;
    padding: 0px 20px;
}
.main-parent{
        margin-top: 123px;
        display: flex;
        justify-content: space-evenly;
}

.main-parent h3 
{
    line-height: 33px;
    font-size: 20px;
    margin-top: 100px;

}
.main-parent img{
    width: 330px;
    height: 340px;
    border-radius: 13px; 
   
    
}
.header h2
{
    padding-right: 300px;
}
.button{
    margin-bottom: 20px;
}

.signinbtn{
    background-color: rgb(193, 179, 159);
    border: none;
    font-size: 20px;
    margin-right: 10px;
}

.getbtn {
font-size: 16px;
border-radius: 8px;
color:black;
background-color: transparent;
padding: 10px 30px;
border: 4px rgb(165, 144, 104) solid;

}

span{
    color: azure;
}

